.mainContainer {
  height: 100%; background: #FFF; margin:20px 10%;
  box-shadow: 0px 6px 6px 1px #ccc; /* 1.水平阴影  2.垂直阴影 3.模糊距离，改虚实 4.阴影尺寸*/
}

.nickname {
  font-weight: bold;
}

.submitBtn {
  width:60%;
}
.submitOper {
  text-align:center;
}
