html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.blue {
  color:#0000ff;
}
.red {
  color:#FF0000;
}
.yellow {
  color: #fa541c;
}
.green {
  color:#09c731;
}
.dark {
  color: #999999;
}

/*后台管理部份的样式*/

.listHeader {
  height: 48px; background: #F4F4F4; line-height: 48px; padding: 0px 10px; position: relative; border-top: 1px #ddd solid;
}
.listFilter {
  padding: 10px 10px 0px 10px;
}
.listOperator {
  position: absolute; right: 10px; top: 0px;
}

.listContent {
  margin:10px; background:#FFF;
}

.filterSelect {
  width:110px;
}
.avatarImg {
  width:80px;
}


/*后台管理部份的样式*/

/*微信管理部份的样式*/

.listPageHeader {
  width:92%; margin-left:4%; border-left:5px #27aacf solid; height: 30px; margin-top:10px; margin-bottom:10px; padding:0px 10px; line-height: 30px;
}

/*微信管理部份的样式*/
